// bower:scss
// endbower

.reveal {
  section {
    .logos {

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2em;

      img {
        border: none;
        box-shadow: none;
        max-height: 2em;
        margin-left: 0.5em;
      }

      .heart {
        max-height: 1em;
        margin-left: 1em;
        margin-right: 0.5em;
      }
    }
  }

  pre {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

    code {
      padding: 10px;
    }
  }
}
